[submodule "requisites/imgui"]
	path = Fahren/requisites/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "requisites/GLFW"]
	path = Fahren/requisites/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "requisites/glm"]
	path = Fahren/requisites/glm
	url = https://github.com/g-truc/glm.git
[submodule "requisites/spdlog"]
	path = Fahren/requisites/spdlog
	url = https://github.com/gabime/spdlog.git
